[package]
name = "just-lsp"
version = "0.2.7"
description = "A language server for just"
authors = ["Liam <liam@scalzulli.com>"]
license = "CC0-1.0"
homepage = "https://github.com/terror/just-lsp"
repository = "https://github.com/terror/just-lsp"
edition = "2021"
categories = ["development-tools"]
keywords = ["productivity", "compilers", "language-servers", "just", "tree-sitter"]
resolver = "2"

include = [
  "/LICENSE",
  "/README.md",
  "/build.rs",
  "/src/",
  "/vendor/*-src/**.c",
  "/vendor/*-src/**/**.h"
]

[workspace]
members = [".", "crates/*"]

[workspace.dependencies]
indoc = "2.0.6"
just-lsp-rope-ext = { path = "crates/just-lsp-rope-ext" }
just-lsp-types = { path = "crates/just-lsp-types" }
pretty_assertions = "1.4.1"
ropey = "1.6.1"
serde = { version = "1.0.219", features = ["derive"] }
tower-lsp = "0.20.0"
tree-sitter = "0.25.8"

[dependencies]
anyhow = "1.0.98"
ariadne = "0.5.1"
clap = { version = "4.5.48", features = ["derive"] }
env_logger = "0.11.8"
just-lsp-document = { path = "crates/just-lsp-document" }
just-lsp-rope-ext = { workspace = true }
just-lsp-types = { workspace = true }
log = "0.4.27"
once_cell = "1.20.2"
serde = { workspace = true }
serde_json = "1.0.142"
target = "2.1.0"
tempfile = "3.20.0"
tokio = { version = "1.47.1", features = ["io-std", "io-util", "macros", "process", "rt-multi-thread"] }
tokio-stream = { version = "0.1.17", features = ["io-util"] }
tower-lsp = { workspace = true }
tree-sitter = { workspace = true }

[profile.release]
codegen-units = 1
lto = true

[dev-dependencies]
indoc = { workspace = true }
pretty_assertions = { workspace = true }
serde_json = "1.0.142"
tower-test = "0.4.0"

[lints.rust]
mismatched_lifetime_syntaxes = "allow"
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(fuzzing)'] }

[lints.clippy]
all = { level = "deny", priority = -1 }
arbitrary-source-item-ordering = "deny"
enum_glob_use = "allow"
ignore_without_reason = "allow"
needless_pass_by_value = "allow"
pedantic = { level = "deny", priority = -1 }
similar_names = "allow"
struct_excessive_bools = "allow"
struct_field_names = "allow"
too_many_arguments = "allow"
too_many_lines = "allow"
type_complexity = "allow"
undocumented_unsafe_blocks = "deny"
unnecessary_wraps = "allow"
wildcard_imports = "allow"
