[package]
name = "just-lsp"
version = "0.2.0"
description = "A language server for just"
authors = ["Liam <liam@scalzulli.com>"]
license = "CC0-1.0"
homepage = "https://github.com/terror/just-lsp"
repository = "https://github.com/terror/just-lsp"
edition = "2021"
categories = ["development-tools"]
keywords = ["productivity", "compilers", "languager-servers", "just", "tree-sitter"]
resolver = "2"

include = [
  "/LICENSE",
  "/README.md",
  "/build.rs",
  "/src/",
  "/vendor/*-src/**.c",
  "/vendor/*-src/**/**.h"
]

[dependencies]
anyhow = "1.0.97"
env_logger = "0.11.7"
log = "0.4.27"
ropey = "1.6.1"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
target = "2.1.0"
tempfile = "3.19.1"
tokio = { version = "1.44.1", features = ["io-std", "io-util", "macros", "process", "rt-multi-thread"] }
tokio-stream = { version = "0.1.17", features = ["io-util"] }
tower-lsp = "0.20.0"
tree-sitter = "0.25.3"

[dev-dependencies]
indoc = "2.0.6"
pretty_assertions = "1.4.1"
serde_json = "1.0.140"
tower-test = "0.4.0"

[build-dependencies]
cc = "1.2.17"
